.head{
    margin: 5px;
    color:white;
    
}
#image{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin: 10px;
}
#home{
    background-color: rgb(102, 102, 186);
}
#heading{
    background-color: black;
    margin: 0%;
}
.hom{
    background-color: blue;
    margin: 0%;

}
#underline{
    color: rgb(32, 32, 215);
}